<div class="flex justify-between items-center py-2 px-4 bg-white">
  <button
    type="button"
    class="rounded-lg border p-2 border-gray-300"
    (click)="onToggleSidebarState()"
  >
    <svg
      width="40"
      height="40"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </button>

  <div class="relative pl-20">
    <button type="button" class="text-2xl mr-2" (click)="onToggleAccountOptionState()">
      <span>Hi, Ikhsan</span>
      <svg
        class="inline-flex ml-3"
        width="30"
        height="30"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <ng-container *ngIf="accountOptionState">
      <div
        class="absolute bottom-0 right-0 rounded-lg shadow-xl lg p-7 transform-gpu translate-y-full bg-white w-full"
      >
        <p class="font-bold mb-6">Role: Business Owner</p>
        <button
          type="button"
          (click)="onLogout()"
          class="rounded-md text-white bg-blue-900 w-1/2 ml-auto py-1"
        >
          Logout
        </button>
      </div>
    </ng-container>
  </div>
</div>
