<main class="flex h-screen">
  <div class="w-1/2">
    <figure class="relative p-8 bg-blue-900 h-full">
      <img src="/assets/images/axiata_logo.webp" alt="axiata logo" class="w-1/3" />
      <figcaption class="absolute inset-0 flex flex-col justify-center px-8">
        <h1 class="text-white text-3xl font-medium">Welcome to BAU Application</h1>
        <p class="text-yellow-400 text-xl">because life is too short to do manual testing</p>
      </figcaption>
    </figure>
  </div>
  <div class="w-1/2 flex justify-center items-center">
    <button
      type="button"
      class="bg-blue-900 text-white text-2xl w-7/12 py-3 rounded-lg"
      (click)="onLogin()"
    >
      Azure Login
    </button>
  </div>
</main>
